.search-button {
  margin-top: 12px;
  width: 180px;
  height: 40px;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
}

.search-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
}
